/* 正文章节字体：EB Garamond */
body {
  font-family: "EB Garamond", serif;
  font-size: 19px;
  line-height: 1.6;
}

/* 标题字体：Lato */
h1, h2, h3, h4, h5 {
  font-family: "Lato", sans-serif;
  font-weight: 600;
}
